/*Buttons*/
@import '../settings/05-mixins';
@import '../settings/01-variables';

.button {
	display: inline-block;
	font-size: $font-base;
	text-decoration: none;
	line-height: 1.3;
	text-align: center;
	color: #fff;
	padding: 7px rem(20);
	cursor: pointer;
	border: 1px solid $main-color;
	border-radius: 3.5px;
	outline: none !important;
	background: $main-color;

	&:hover {
    text-decoration: none;
	}

	@include hover {
		opacity: .8;
	}
}