//Responsive Web Design
@media screen and (max-width: 1024px) {
  #menuOpen {
    display: block;
    cursor: default;
    &.opened {
      & + #mainMenu {
        @include transform(translateX(0));
      }
    }
    p {
      padding-bottom: 0;
    }
  }
  #mainMenu {
    position: fixed;
    width: 100%;
    top: 50px;
    bottom: 0;
    right: 0;
    @include transform(translateX(100%));
    @include transition();
    overflow: auto;
    background: rgba(26, 26, 26, 0.95);
    ul {
      li {
        display: inline-block;
        width: 100%;
        position: relative;
        a {
          display: block;
          margin: 0;
          color: #fff;
          font-size: 18px;
          padding: 15px 3%;
          border-bottom: 1px solid #000;
        }
        &:hover a {
          background: none;
        }
        &.current-menu-item > a {
          background: $bg;
        }
      }
      .sub-menu {
        display: none;
        >li>a {
          padding: 10px 4%;
        }
      }
    }
  }
  .subMenuButton {
    position: absolute;
    width: 55px;
    height: 55px;
    background: none;
    right: 0;
    top: 1.5px;
    &:before, &:after {
      content: '';
      @include center();
      background: #fff;
      transition: all 0.3s ease;
    }
    &:before {
      width: 3px;
      height: 35px;
    }
    &:after {
      width: 35px;
      height: 3px;
    }
    &.open {
      &:after {
        -webkit-transform: translate(-50%, -50%) rotate(180deg);
        -moz-transform: translate(-50%, -50%) rotate(180deg);
        -ms-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg);
      }
      &:before {
        -webkit-transform: translate(-50%, -50%) rotate(90deg);
        -moz-transform: translate(-50%, -50%) rotate(90deg);
        -ms-transform: translate(-50%, -50%) rotate(90deg);
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }
  .flex_parent {
    display: block;
    margin-bottom: 20px;
    aside {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 767px) {
  img.alignright, img.alignleft {
    float: none;
    margin: 0 auto;
  }
}

@media screen and (max-width: 479px) {

}