html {
  font: 400 #{$font-base}/1.5714 $f, sans-serif;
}

body {
  color: $c;
  @include flex-direction(column);
  @include flexbox();
  min-height: 100vh;
}

#main {
  overflow: hidden;
  @include flex(1, 0, auto);
  width: 100%;
}

.container {
  margin: 0 auto;
  width: $w;
  max-width: 94%;
  position: relative;
}

.content {
  ul {
    margin: 0 0 20px 15px;
    li {
      padding: 5px 0 5px 15px;
      position: relative;
      &:before {
        content: "";
        width: 4px;
        height: 4px;
        position: absolute;
        top: 15px;
        left: 0;
        border-radius: 50%;
        background: $bg;
      }
    }
  }
}

input[type="text"], input[type="email"], input[type="tel"], input[type="search"], input[type="password"], textarea {
  width: 100%;
  height: $inputH;
  font-family: $f;
  font-size: rem(14);
  border: 1px solid #ccc;
  padding: 0 10px;
  background: #eee;
  @include transition();
  &:focus {
    border: 1px solid $bg;
  }
}

textarea {
  resize: none;
  height: 100px;
  padding: 10px;
}
/*Button*/
.button {
  display: inline-block;
  font-family: $f;
  font-size: rem(14);
  text-align: center;
  line-height: rem(40);
  text-decoration: none;
  color: #fff;
  padding: 0 rem(20);
  background: $bg;
  &:hover {
    opacity: 0.8;
    text-decoration: none;
  }
}

/*Social*/
.some {
  a {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 8px;
    background: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    &:hover {
      background: $bg;
      text-decoration: none;
      &:before {
        color: #ffffff;
      }
    }
    &:before {
      color: $c;
      @include center();
      @include transition();
    }
  }
}

.flex {
  @include flexbox;
  @include justify-content(space-between);
}

.alc {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
}

.start {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(flex-start);
}

.end {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(flex-end);
}

.flex_parent {
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(flex-start);
  article {
    @include flex(1);
  }
  aside {
    @include flex-basis($aside-width);
    min-width: $aside-width;
    max-width: 100%;
    margin-left: $aside-margin;
  }
}

.cover {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.valign {
  display: inline-block;
  vertical-align: middle;
  max-width: 94%
}

.vfix {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0
}

//SELECT
.selbel_w {
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  font-family: $f;
  height: $inputH;
  select {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    display: block;
    z-index: 1;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    + span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      color: #555;
      padding: 0 10px;
      border-radius: 5px;
      border: 1px solid #eee;
      line-height: $inputH;
      &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 5px 0 5px;
        border-color: #555 transparent transparent transparent;
        position: absolute;
        right: 13px;
        top: 16px;
      }
      &.err {
        border-color: #ef4036
      }
    }
    option {
      padding: 5px
    }
  }
}

//Fullframe
.fullframe {
  height: 0;
  margin: 0;
  overflow: hidden;
  padding-bottom: 56.5%;
  position: relative;
  z-index: 0;
  iframe, object, embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1
  }
}

//MENU BUTTON
$line: 4px;
// The thickness of the button lines, also need to improve -> &:after {top: ?px} !
$line-position: 18px;
// The spacing between lines, also need to improve -> &:after {top: ?px} !
$button-color: #fff;
// The color of button
#menuOpen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #222;
  height: 50px;
  display: none;
  &.opened {
    span {
      &:before, &:after {
        top: 0;
        left: 0;
        right: 0;
        background: $button-color;
        @include box-shadow(none);
      }
      &:before {
        @include backface-visibility();
        @include transform(rotate(-45deg) translate(-7px, 7px));
      }
      &:after {
        @include backface-visibility();
        @include transform(rotate(45deg) translate(7px, 7px));
      }
    }
  }
  p {
    margin-left: 3%;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 50px;
  }
  span {
    @include center(false, true);
    right: 3%;
    width: 27px;
    height: 27px;
    cursor: pointer;
    z-index: 300;
    @include transition();
    &:before, &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: $line;
      box-shadow: 0 $line 0 0 $button-color, 0 $line-position 0 0 $button-color;
      -webkit-box-shadow: 0 $line 0 0 $button-color, 0 $line-position 0 0 $button-color;
      -moz-box-shadow: 0 $line 0 0 $button-color, 0 $line-position 0 0 $button-color;
      @include transition();
    }
    &:after {
      content: "";
      position: absolute;
      top: 7px; // Need to improve if both $line-thickness and $line-position changed !
      height: $line;
      @include box-shadow(0 $line 0 0 $button-color);
    }
  }
}